<div id="projects">

</br>
<div class="row">

        <div class="thumbnail">
    </br>
      <%= image_tag "up2datemenu.png", alt: "Up2DateMenu.com" %>
        <h3>Up2DateMenu </h3>
        <p>RoR with Bootstrap, JavaScript & Sass * Heroku for User DB & Google Cloud for Image Storage</p>
        <p> <b style="color:#1E90FF">Features: </b> Online Menu Management in One Place for Half the Cost of Other Similar Services</p>

        <p><a href="https://www.up2datemenu.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a> </p>
        
    </div>


    <div class="thumbnail">
    </br>
      <%= image_tag "djkiesco.png", alt: "DJ Kiesco" %>
        <h3>DJ Kiesco</h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p> <b style="color:#1E90FF">Features: </b>Create Events, Replicate & Collect Follower Emails </p>

        <p><a href="http://www.djkiesco.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a> </p>
    </div>


    <div class="thumbnail">
    </br>
      <%= image_tag "skilletzcafe.png", alt: "Skillet'z Cafe in Fremont" %>
        <h3>Family Restaurant </h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Social Media API for Displaying Events & Specials </p>
        <p><a href="https://www.skilletz-cafe.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>

    <div class="thumbnail">
    </br>
      <%= image_tag "mydacastory.png", alt: "MyDACAstory.com" %>
        <h3>MyDACAStory.com</h3>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Easily Share DACA Stories on Social Media Outlets & Automatically Tag Moderate Congressmembers to Pass the Dream Act Legislation </p>

        <p><a href="http://www.mydacastory.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>


    <div class="thumbnail">
    </br>
      <%= image_tag "graciasmadre.png", alt: "Gracias Madre San Francisco" %>
        <h3> Webmaster: Gracias Madre </h3>
        <p>HTML, CSS, JavaScript</p>
        <p><a href="https://www.gracias-madre.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
        
    </div>

</div>
</div>