<div id="projects">

</br>
<div class="row">

 <div class="thumbnail">
    </br>
      <%= image_tag "mydacastory.png", alt: "MyDACAstory.com" %>
        <h3>MyDACAStory.com</h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p>Hundreds of thousands of DACA Recipients have no access to a lawyer nor accurate answers for their immigration questions. I built MyDACAStory.com in 2 weeks using Ruby on Rails, Bootstrap & JavaScript and implemented WAF security, access control & login protection. The platform empowers DREAMERS with the latest news on DACA & answers to their frequently asked questions. All information is verified for validity & accuracy and labeled accordingly. So far the website has over 100 registered users & 180 Facebook followers. </p>

        <p><a href="http://www.mydacastory.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>
    
        <div class="thumbnail">
    </br>
      <%= image_tag "up2datemenu.png", alt: "Up2DateMenu.com" %>
        <h3>Up2DateMenu </h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>RoR with Bootstrap, JavaScript & Sass * Heroku for User DB & Google Cloud for Image Storage</p>
        <p>Many restaurant owners lack access to their websites' menus and often depend on developers to update them, costing them $500- $1k/year. Up2DateMenu provides restaurant administrators with an inexpensive, easy-to-follow interface that changes their menus in real time. Unfortunately, it couldn't scale and it's used only by 3 restaurants/caterers. One of them is the biggest vegan restaurant in the Mission District, Gracias Madre. </p>

        <p><a href="https://www.up2datemenu.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a> </p>
        
    </div>


    <div class="thumbnail">
    </br>
      <%= image_tag "djkiesco.png", alt: "DJ Kiesco" %>
        <h3>DJ Kiesco</h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p> <b style="color:#1E90FF">Features: </b>Create Events, Replicate & Collect Follower Emails </p>

        <p><a href="http://www.djkiesco.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a> </p>
    </div>


    <div class="thumbnail">
    </br>
      <%= image_tag "skilletzcafe.png", alt: "Skillet'z Cafe in Fremont" %>
        <h3>Family Restaurant </h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>RoR with Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Social Media API for Displaying Events & Specials </p>
        <p><a href="https://www.skilletz-cafe.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>

   
    <div class="thumbnail">
    </br>
      <%= image_tag "skilletz_catering.png", alt: "Skillet'z Cafe in Fremont" %>
        <h3>Online Catering for Skilletz Cafe </h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>Ruby, Bootstrap, JavaScript & Sass</p>
        <p><b style="color:#1E90FF"> Features: </b> Easy ceck out process for ordering online. </p>
        <p><a href="https://www.skilletz-cafe.com/catering" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
    </div>

    <div class="thumbnail">
    </br>
      <%= image_tag "graciasmadre.png", alt: "Gracias Madre San Francisco" %>
        <h3> Webmaster: Gracias Madre </h3>
        <b style="color:#1E90FF">Built Using </b>
        <p>HTML, CSS, JavaScript</p>
        <p><a href="https://www.gracias-madre.com" class="btn btn-primary" role="button" onclick="window.open(this.href,'create_company', 'height=600, width=600');return false;">View</a></p>
        
    </div>

</div>
</div>